<!--for-designer-->
<!-- include dari for-designer.html -->
<!-- container -->
<div class="container-card" id="card-container-designer">
 <div class="texthead">
  <h1 class="container-title">For Designer</h1>
  <div class="pagination-container">
     <button id="prevButton-designer" style="background: none; border: 1px solid #C0C0C0; border-radius: 10px; padding: 6px; cursor: pointer; display: flex; align-items: center; justify-content: center;">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 0 1 .708.708L2.707 7.5H14.5A.5.5 0 0 1 15 8z"/>
      </svg>
    </button>
    <button id="nextButton-designer" style="background: none; border: 1px solid #C0C0C0; border-radius: 10px; padding: 6px; cursor: pointer; display: flex; align-items: center; justify-content: center;">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 1 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>
    </button>
  </div>
  </div>

  <div class="card-container" style="display: flex; overflow-x: auto;">
    <!-- card 1 -->
    <div id="card1" class="card">
      <img src="images/320c1ee7927169e0b4df96335035b834.jpg" alt="Card Image" class="card-img">
      <div class="card-content">
        <h2 class="card-title">Judul Card</h2>
        <p class="card-description">Ini deskripsi singkat tentang card ini.</p>
      </div>
    </div>
    <!-- end card 1 -->

      </div>
</div>
<!-- end include dari for-designer.html -->
<!-- end for-designer -->
